body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
h1{
    font-size: 56px;
    margin-top: 10px;
    padding: 1px 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 100%;
    border: 5px solid #40612f;
    border-collapse: collapse;
    margin-top: 20px;
    
}
th, td {
    font-size: 20px;
    padding: 10px;
    border: 2px solid #40612f;
    text-align: left;
}
.done {
    text-decoration: line-through;
    color: rgb(175, 58, 58);
}
button {
    margin: 0 3px;
    padding: 5px 10px;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
    background-color: #53e967;
    transform: scale(1.2);
    transition:  0.3s;
}
#form {
    padding-bottom: 20px;
}
#form input {
    padding: 8px;
    margin-right: 5px;
    width: 200px;
    border-radius: 20px;
}
/* .blur-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('img2.jpg') center/cover no-repeat;
    filter: blur(10px);
    z-index: 0;
    opacity: 0.3;
    pointer-events: none;
}  */
@media (max-width: 480px) {
    h1 {
        font-size: 32px;
        padding: 1px 2%;
    }
    th, td {
        font-size: 16px;
        padding: 8px;
    }
    #form input {
        width: 120px;
    }
    table{
        font-size: 12px;
    }
    button{
        margin: 3px;
        width: 70px;
    }
}